.btnDelete {
    cursor: pointer;
    margin-left: 10px;
    padding: 1px 10px;
    font-size: 15px;
    border: 2px solid rgb(161, 5, 5);
    border-radius: 5px;
}

.btnUpdate {
    cursor: pointer;
    margin-left: 10px;
    padding: 1px 10px;
    font-size: 15px;
    border: 2px solid teal;
    border-radius: 5px;
}

.btnDelete:active {
    background-color: #2471a3;
}
